<div class="text-center">
  <h2>{{name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money"></span>
    <span class="dollar-amount">Post #{{format_amount needed_funding}}</span>

  </p>

  <div class="text-center">
    <h3>Comments</h3>
    {{#each comments as |comment| }}
    <div>
      <p>{{comment.comment_text}} by {{comment.user.name}} on 
        {{format_date comment.date_created}}
        </p>
    </div>
    {{/each}}
  </div>

  <p>
    <a href="/create">Leave a Comment!</a>
  </p>
</div>